{% extends 'base.html.twig' %}

{% block body %}
    <h1>Admin page !!!</h1>
    <hr />
    <a href="{{ path('default_index') }}">Home</a><br />
    <a href="{{ path('admin_users') }}">Users</a><br />
{% endblock %}