// customize some Bootstrap variables
$primary: darken(#428bca, 20%);

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
  //background: url("~/build/images/background.jpg") no-repeat center center fixed;
  //background-size: cover;
}

// Do not display errors on label !!!
label > span.invalid-feedback {
  display: none !important;
}